@{
    ViewData["Title"] = "Home Page";
}

<style>
    #button {
        width: 6em;
        border: 2px solid black;
        background: #ffe;
        border-radius: 5px;
    }

    a {
        display: block;
        width: 100%;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
    }

    #logInButton {
        float: right;
        width: 6em;
        border: 2px solid black;
        background: #ffe;
        border-radius: 5px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Choose your room </h1>
</div>

<br/>

<div class="container">
<div class="row">
    <div class="col-md-4">
        <h2>Kitchen</h2>
            <br/>
            <a class="btn btn-primary" asp-controller="Home" asp-action="KitchenPage" asp-route-id="@DateTime.Now.ToString("dd-MM-yyyy")">Go to kitchen page</a>
            <br/>
            <br/>
            <br/>
            <br/>
    </div>

    <div class="col-md-4">
        <h2>Reception</h2>
        <br/>
        <a class="btn btn-primary" asp-controller="Home" asp-action="ReceptionOverview">Go to log-in page</a>
        <br/>
        <br/>
        <br/>
        <br/>
    </div>
        
    <div class="col-md-4">
        <h2>Restaurant</h2>
        <br/>
        <a class="btn btn-primary" asp-controller="Home" asp-action="RestaurantPage">Go to log-in page</a>
        <br/>
        <br/>
    </div>
</div>
</div>
