
@{
    ViewData["Title"] = "Kitchen";
}

<br/>
<h1>Kitchen</h1>
<br/>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <p>Date: </p>
        </div>
        <div class="col-md-7">
            <input type="date" id="date" name="date" />
        </div>
        <div class="float-right">
            <button onclick="window.location.reload();" class="btn btn-primary">Update</button>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <p>Expected number of guests: </p>
        </div>
        <div class="col-md-6">
            <table border="1">
                <tr>
                    <th></th>
                    <th>Counts</th>
                </tr>
                <tr>
                    <td><strong>Adults</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
                <tr>
                    <td><strong>Children</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
            </table>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-md-6">
            <p>Checked in children: </p>
        </div>
        <div class="col-md-6">
            <input type="number" id="checkedInChildren" value="Her skal antal stå" readonly />
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-6">
            <p>Checked in adults: </p>
        </div>
        <div class="col-md-6">
            <input type="number" id="checkedInAdults" value="Her skal antal stå" readonly />
        </div>
    </div>
    
    <br/>
    <br/>
    
    <div class="row">
        <div class="col-md-6">
            <p>Not checked in guests yet </p>
        </div>
        <div class="col-md-6">
            <table border="1">
                <tr>
                    <th></th>
                    <th>Counts</th>
                </tr>
                <tr>
                    <td><strong>Adults</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
                <tr>
                    <td><strong>Children</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
                <tr>
                    <td><strong>Total</strong></td>
                    <td>Her skal antal stå</td>
                </tr>
            </table>
        </div>
    </div>

</div>

