
@{
    ViewData["Title"] = "Login";
}


    <dic class="container">
        <h1>Login</h1>
        <div class="row">
            <label>User name</label>
        </div>
        <div class="row">
            <input type="text" id="userName" />
        </div>
        <div class="row">
            <label>Password</label>
        </div>
        <div class="row">
            <input type="text" id="password" />
        </div>
        <br />
        <div class="row">
            <button type="submit">Submit</button>
        </div>
    </dic>

