
@{
    ViewData["Title"] = "Reception Overview";
}

    <div>
        <header>
            <h1>Overview over guests who have eaten breakfast today</h1>
        </header>
        <nav>
            <ul>
                <li><a href="/Home/ReceptionAddGuests">Add Guests</a></li>
                <li><a href="/Home/ReceptionOverview">Overview</a></li>
            </ul>
        </nav>
        <div>
            <table>
                <tr>
                    <th>Room</th>
                    <th>Adults</th>
                    <th>Children</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
            </table>
        </div>
    </div>

